body{
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 300;
    margin: 20px;
}

h3, h4, h5, h6 {
    color: #494949;
}

span {
    color: #777;
}

a {
    color: #39c;
    font-weight: 400;
    text-decoration: none;
}